<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Europale Basket Club - U9</title>
    <link rel="shortcut icon" href="../../assets/img/logo_europale/fond-blanc-since-1994.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../assets/css/teams.css" />
    <link rel="stylesheet" href="../../assets/responsive/responsive_style.css" />
    <link rel="stylesheet" href="../../assets/responsive/responsive_teams.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/61523b4b4d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Home -->
    <section class="home" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../../assets/img/cover_home.jpeg'); background-position: center; background-size: cover;">
          <div class="menu">
            <div class="logo"><img src="../../assets/img/logo_europale/fond-blanc-since-1994.jpg" alt=""> Europale - U9 </div>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- Menu principal -->
            <ul class="links_responsive">
                <li><a href="../../index.html">Accueil</a></li>
                <li><a href="coming_soon.html">Événements</a></li>
                <li><a href="../teams.html">Équipes</a></li>
                <li><a href="./gallery.html">Galerie</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
            <ul class="links">
                <li><a href="../../index.html">Accueil</a></li>
                <li><a href="coming_soon.html">Événements</a></li>
                <li><a href="../teams.html">Équipes</a></li>
                <li><a href="../gallery.html">Galerie</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
        </div>

        <!-- Home_page_content -->
        <div class="home_page_content">
            <span>
                <i class="fa-solid fa-trophy"></i>
                <p>26 Rue Hector Berlioz, 62930 Wimereux</p>
            </span>
            <h1 class="title">
                Ici, vous découvrirez<br />
                Notre équipe U9 !
            </h1>
            <p class="text">
                Découvrez notre club de basket, nos équipes et nos valeurs en voyageant
                <br />
                à travers notre site.
                <br>
                Clique sur le bouton pour accéder aux matchs de l'équipe U9 !
                <br>
                Sinon je t'invite à découvrir l'équipe en voyageant un peu plus bas.
            </p>
            <a href="https://competitions.ffbb.com/ligues/hdf/comites/0062/clubs/hdf0062152/equipes/200000005203149" target="_blank" class="white_btn">
              En savoir plus <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <!-- image_box -->
        <div class="image_box">
            <img src="../../assets/img/salle/salle_butel.jpeg" alt="Salle JP Butel" />
            <p>
                <i class="fa-solid fa-location-dot"></i> 26 Rue Hector Berlioz, 62930 Wimereux
            </p>
        </div>
    </section>

    <!-- text_section -->
    <section class="text_section" id="about">
        <p>EUROPALE</p>
        <h2>Engagement - Convivialité - Détermination <br /> Dépassement de soi - Découverte</h2>
    </section>
<br><br>
<!-- Section Coachs -->
<section class="coach_cards">
  <h2>Nos Coachs</h2>
  <div class="cards_container">
    <div class="card">
      <img src="../../assets/img/coachs/coach1.jpg" alt="Coach 1">
      <h3>Prénom Nom</h3>
    </div>
    <div class="card">
      <img src="../../assets/img/coachs/coach2.jpg" alt="Coach 2">
      <h3>Prénom Nom</h3>
    </div>
    <div class="card">
      <img src="../../assets/img/coachs/coach3.jpg" alt="Coach 3">
      <h3>Prénom Nom</h3>
    </div>
  </div>
</section>

<!-- Section Joueurs -->
<section class="u_cards">
  <h2>Équipe U9</h2>
  <div class="cards_container">
    <!-- Exemple de carte joueur -->
    <div class="card">
      <img src="../../assets/img/joueurs/joueur1.jpg" alt="Joueur 1">
      <h3>Prénom Nom 1</h3>
      <div class="overlay">
        <span class="player_number">1</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur2.jpg" alt="Joueur 2">
      <h3>Prénom Nom 2</h3>
      <div class="overlay">
        <span class="player_number">2</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur3.jpg" alt="Joueur 3">
      <h3>Prénom Nom 3</h3>
      <div class="overlay">
        <span class="player_number">3</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur2.jpg" alt="Joueur 2">
      <h3>Prénom Nom 2</h3>
      <div class="overlay">
        <span class="player_number">2</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur3.jpg" alt="Joueur 3">
      <h3>Prénom Nom 3</h3>
      <div class="overlay">
        <span class="player_number">3</span>
      </div>
    </div><div class="card">
      <img src="../../assets/img/joueurs/joueur2.jpg" alt="Joueur 2">
      <h3>Prénom Nom 2</h3>
      <div class="overlay">
        <span class="player_number">2</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur3.jpg" alt="Joueur 3">
      <h3>Prénom Nom 3</h3>
      <div class="overlay">
        <span class="player_number">3</span>
      </div>
    </div><div class="card">
      <img src="../../assets/img/joueurs/joueur2.jpg" alt="Joueur 2">
      <h3>Prénom Nom 2</h3>
      <div class="overlay">
        <span class="player_number">2</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur3.jpg" alt="Joueur 3">
      <h3>Prénom Nom 3</h3>
      <div class="overlay">
        <span class="player_number">3</span>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/joueurs/joueur25.jpg" alt="Joueur 25">
      <h3>Prénom Nom 25</h3>
      <div class="overlay">
        <span class="player_number">25</span>
      </div>
    </div>
  </div>
</section>

    <!-- footeur -->
         <footer class="site-footer">
            <!-- Sponsors défilants -->
           <div class="sponsor-bar">      
              <div class="wrapper">
                <div class="item item1"><a href="https://placopale.fr/"><img src="../../assets/img/sponsors/placopale.png" alt="Sponsor 1" /></a></div>
                <div class="item item2"><a href="https://www.boulonnaisautop.com/toute-l-offre/c-s-l-chauffage-sanitaire-littoral-2793912"><img src="../../assets/img/sponsors/csl.jpeg" alt="Sponsor 2" /></a></div>
                <div class="item item3"><a href="https://www.batinor.com/"><img src="../../assets/img/sponsors/batinor.png" alt="Sponsor 3" /></a></div>
                <div class="item item4"><a href="https://www.plakotek.net/"><img src="../../assets/img/sponsors/plakotek.png" alt="Sponsor 4" /></a></div>
                <div class="item item5"><a href="https://www.maisons-vasseur-ossature-bois.com/"><img src="../../assets/img/sponsors/vasseur.png" alt="Sponsor 5" /></a></div>
                <div class="item item6"><a href="https://www.demouselle-pas-de-calais.fr/"><img src="../../assets/img/sponsors/demousselle.png" alt="Sponsor 6" /></a></div>
                <div class="item item7"><a href="https://www.hennuyer62.fr/?utm_medium=referral&utm_source=gmb&utm_campaign=lnk-gmb"><img src="../../assets/img/sponsors/hennuyer.jpg" alt="Sponsor 7" /></a></div>
                <div class="item item8"><a href="https://ambleteuse.org/directory/etmobati/"><img src="../../assets/img/sponsors/etmobati.jpeg" alt="Sponsor 8" /></a></div>
                <div class="item item9"><a href="https://www.caty-peinture.fr/"><img src="../../assets/img/sponsors/catypeinture.png" alt="Sponsor 9" /></a></div>
                <div class="item item10"><a href="https://www.pmimoteurs.fr/"><img src="../../assets/img/sponsors/pmi.png" alt="Sponsor 10" /></a></div>
                <div class="item item11"><a href="https://cpz-littoral-62.fr/"><img src="../../assets/img/sponsors/cpz.jpg" alt="Sponsor 11" /></a></div>
                <div class="item item12"><a href="https://annuaire-entreprises.data.gouv.fr/entreprise/thermoclim-services-399036011"><img src="../../assets/img/sponsors/thermoclim.png" alt="Sponsor 12" /></a></div>
                <div class="item item13"><a href="https://www.technologiereseaux.fr/"><img src="../../assets/img/sponsors/technologiereseaux.png" alt="Sponsor 13" /></a></div>
                <div class="item item14"><a href="https://annuaire-entreprises.data.gouv.fr/entreprise/guy-staes-442432910"><img src="../../assets/img/sponsors/sarlguystaes.png" alt="Sponsor 14" /></a></div>
                <div class="item item15"><a href="https://www.lesentreesdelamer.com/"><img src="../../assets/img/sponsors/lesentreesdelamer.jpg" alt="Sponsor 15" /></a></div>
                <div class="item item16"><a href="https://www.boucheriecharcuteriechezmilon.com/"><img src="../../assets/img/sponsors/boucheriecharcuteriemilon.png" alt="Sponsor 16" /></a></div>
                <div class="item item17"><a href="https://www.leranch-wimereux.fr/"><img src="../../assets/img/sponsors/leranch.jpeg" alt="Sponsor 17" /></a></div>
                <div class="item item18"><a href="https://www.facebook.com/lacavedewimereux"><img src="../../assets/img/sponsors/lacave.jpeg" alt="Sponsor 18" /></a></div>
                <div class="item item19"><a href="https://www.pirate-restaurant.com/"><img src="../../assets/img/sponsors/lepirate.png" alt="Sponsor 19" /></a></div>
                <div class="item item20"><a href="https://www.facebook.com/p/Boulangerie-Julie-wimereux-100069315150336/?locale=fr_FR"><img src="../../assets/img/sponsors/boulangeriejulie.jpg" alt="Sponsor 20" /></a></div>
                <div class="item item21"><a href="#"><img src="../../assets/img/sponsors/" alt="Sponsor 21" /></a></div>
                <div class="item item22"><a href="https://www.facebook.com/Lheurtdelapizza/"><img src="../../assets/img/sponsors/heurtdelapizza.png" alt="Sponsor 22" /></a></div>
                <div class="item item23"><a href="https://delavigneauverre.fr/"><img src="../../assets/img/sponsors/delavigneauverre.jpeg" alt="Sponsor 23" /></a></div>
                <div class="item item24"><a href="https://www.labrasseriedugoulot.com/"><img src="../../assets/img/sponsors/brasseriedugoulot.png" alt="Sponsor 24" /></a></div>
                <div class="item item25"><a href="https://www.eraimmobilier.com/agence-immobiliere-wimereux-161"><img src="../../assets/img/sponsors/eraprestige.webp" alt="Sponsor 25" /></a></div>
                <div class="item item26"><a href="https://www.wimereuxoptic.fr/"><img src="../../assets/img/sponsors/wimereuxoptic.jpeg" alt="Sponsor 26" /></a></div>
                <div class="item item27"><a href="https://garage-coquart-wimereux.fr/"><img src="../../assets/img/sponsors/garagecoquart.png" alt="Sponsor 27" /></a></div>
                <div class="item item28"><a href="https://www.bshopbasketball.fr/fr/"><img src="../../assets/img/sponsors/bshop.jpg" alt="Sponsor 28" /></a></div>
                <div class="item item29"><a href="https://www.orpi.com/agence.porteneuve.wimereux/?utm_source=gmb&utm_medium=organic&utm_campaign=gmb_wimereux&utm_content=agence.porteneuve.wimereux"><img src="../../assets/img/sponsors/orpi.png" alt="Sponsor 29" /></a></div>
                <div class="item item30"><a href="https://paschalartcampanaire.fr/"><img src="../../assets/img/sponsors/paschalhorlogerie.jpeg" alt="Sponsor 30" /></a></div>
                <div class="item item31"><a href="https://annuaire-entreprises.data.gouv.fr/entreprise/transport-logifreeze-382171320"><img src="../../assets/img/sponsors/logifreeze.png" alt="Sponsor 31" /></a></div>
                <div class="item item32"><a href="https://annuaire-entreprises.data.gouv.fr/entreprise/societe-boulonnaise-de-transports-et-de-services-sbts-378830103"><img src="../../assets/img/sponsors/stbs.jpeg" alt="Sponsor 32" /></a></div>
                <div class="item item33"><a href="https://www.bernhardt.fr/"><img src="../../assets/img/sponsors/etsbernhardt.jpeg" alt="Sponsor 33" /></a></div>
                <div class="item item34"><a href="https://www.cic.fr/fr/agence/hauts-de-france/pas-de-calais/30027-17036-00"><img src="../../assets/img/sponsors/groupecic.png" alt="Sponsor 34" /></a></div>
                <div class="item item35"><a href="https://debusschere.fr/"><img src="../../assets/img/sponsors/imprimeriedebusschere.png" alt="Sponsor 35" /></a></div>
                <div class="item item36"><a href="https://www.facebook.com/62Ways/"><img src="../../assets/img/sponsors/62w.png" alt="Sponsor 36" /></a></div>
                <div class="item item37"><a href="https://www.articways.fr/"><img src="../../assets/img/sponsors/articways.png" alt="Sponsor 37" /></a></div>
                <div class="item item38"><a href="https://www.boulonnaisautop.com/toute-l-offre/inter-nettoyage-sarl-3585363"><img src="../../assets/img/sponsors/internettoyage.jpg" alt="Sponsor 38" /></a></div>
                <div class="item item39"><a href="https://www.auton1.net//?utm_medium=referral&utm_source=gmb&utm_campaign=lnk-gmb"><img src="../../assets/img/sponsors/auton1.jpeg" alt="Sponsor 39" /></a></div>
                <div class="item item40"><a href="https://www.prodrones.fr/"><img src="../../assets/img/sponsors/prodrones.jpeg" alt="Sponsor 40" /></a></div>
                <div class="item item41"><a href="https://www.norauto.fr/"><img src="../../assets/img/sponsors/norauto.png" alt="Sponsor 41" /></a></div>
                <div class="item item42"><a href="https://www.eurotruck-services.fr/"><img src="../../assets/img/sponsors/eurotruck.png" alt="Sponsor 42" /></a></div>
                <div class="item item43"><a href="https://www.copalis.fr/"><img src="../../assets/img/sponsors/copalis.jpg" alt="Sponsor 43" /></a></div>
                <div class="item item44"><a href="https://www.facebook.com/pm3cmpcompany/"><img src="../../assets/img/sponsors/pm3c.png" alt="Sponsor 44" /></a></div>
                <div class="item item45"><a href="https://www.bhcar.fr/"><img src="../../assets/img/sponsors/bhcar.jpeg" alt="Sponsor 45" /></a></div>
                <div class="item item46"><a href="#"><img src="../../assets/img/sponsors/sponsor46.png" alt="Sponsor 46" /></a></div>
              </div>
            </div>
             <!-- Carte des lieux d'entraînement -->
            <div class="footer-map">
              <h4 style="text-align: center; font-size: 28px; margin-bottom: 10px;">Où nous trouver ?</h4>
              <div class="map-container">
                <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.7364432056375!2d1.6115150768601988!3d50.767958271653205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc27349697d927%3A0x89b92b5e6a3e53d5!2s26%20Rue%20Hector%20Berlioz%2C%2062930%20Wimereux%2C%20France!5e0!3m2!1sfr!2sfr!4v1722503946387!5m2!1sfr!2sfr" 
                  width="100%" 
                  height="250" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
            </div>
            <!-- Contenu principal du footer -->
            <div class="footer-content">  
              <div class="footer-columns">
                <div class="footer-column">
                  <h4>Contact</h4>
                  <ul>
                    <li><span>Email :</span> ebcww@hotmail.fr</li>
                    <li><span>Tél :</span> 06 76 37 67 29</li>
                    <li><span>Adresse :</span> 26 Rue Hector Berlioz, 62930 Wimereux</li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Navigation</h4>
                  <ul>
                    <li><a href="../../index.html">Accueil</a></li>
                    <li><a href="coming_soon.html">Événements</a></li>
                    <li><a href="../gallery.html">Galerie</a></li>
                    <li><a href="../teams.html">Équipes</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Suivez-nous</h4>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/europalebcww" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@europalebasketclub" target="_blank"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/europalebasket/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Bas de page -->
            <div class="footer-bottom">
              <p>&copy; 2025 Europale Basket Club. Tous droits réservés.</p>
            </div>
          </footer>
<script>
                    document.addEventListener('DOMContentLoaded', () => {
          const sections = document.querySelectorAll('section');

          const observerOptions = {
            threshold: 0.2,
          };

          const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
              if(entry.isIntersecting) {
                entry.target.classList.add('section-visible');
                observer.unobserve(entry.target);
              }
            });
          }, observerOptions);

          sections.forEach(section => {
            section.classList.add('section-hidden');
            observer.observe(section);
          });
        });
          </script>
    <script src="../../script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

</body>
</html>
