<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Europale Basket Club - Équipes</title>
  <link rel="stylesheet" href="../assets/css/contact.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvFXpqpZZVQGK6TAh5PV1GOfQNHSoD2xbE+QkPxCAF1NEevoEH3S10sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <section class="contact">
      <div class="content">
        <h2>Contactez-Nous</h2>
        <p>Pour toute question ou information, n'hésitez pas à nous contacter via les moyens suivants :</p>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon"></div>
            <div class="text">
              <h3>Adresse</h3>
              <p>123 Rue du Basket, 75000 Paris, France</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"></div>
            <div class="text">
              <h3>Téléphone</h3>
              <p>+33 1 23 45 67 89</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"></div>
            <div class="text">
              <h3>Email</h3>
              <p>contact@europale-basket.fr</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>