<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Europale Basket Club - Équipes</title>
    <link rel="shortcut icon" href="../assets/img/logo_europale/fond-blanc-since-1994.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../assets/responsive/responsive_style.css" />
    <link rel="stylesheet" href="../assets/responsive/responsive_teams.css" />
    <link rel="stylesheet" href="../assets/css/teams.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/61523b4b4d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Home -->
    <section class="home" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../assets/img/cover_home.jpeg'); background-position: center; background-size: cover;">
          <div class="menu">
            <div class="logo"><img src="../assets/img/logo_europale/fond-blanc-since-1994.jpg" alt=""> Europale - Équipes </div>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- Menu principal -->
            <ul class="links_responsive">
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="coming_soon.html">Événements</a></li>
                <li><a href="teams.html">Équipes</a></li>
                <li><a href="coming_soon.html">Galerie</a></li>
                <li><a href="coming_soon.html">Contact</a></li>
            </ul>
            <ul class="links">
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="coming_soon.html">Événements</a></li>
                <li><a href="teams.html">Équipes</a></li>
                <li><a href="coming_soon.html">Galerie</a></li>
                <li><a href="coming_soon.html">Contact</a></li>
            </ul>
        </div>

        <!-- Home_page_content -->
        <div class="home_page_content">
            <span>
                <i class="fa-solid fa-trophy"></i>
                <p>26 Rue Hector Berlioz, 62930 Wimereux</p>
            </span>
            <h1 class="title">
                Ici, vous découvrirez<br />
                Nos équipes !
            </h1>
            <p class="text">
                Découvrez notre club de basket, nos équipes et nos valeurs en voyageant
                <br />
                à travers notre site.
            </p>
            <button class="white_btn">
                En savoir plus <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>

        <!-- image_box -->
        <div class="image_box">
            <img src="../assets/img/salle/salle_butel.jpeg" alt="Salle JP Butel" />
            <p>
                <i class="fa-solid fa-location-dot"></i> 26 Rue Hector Berlioz, 62930 Wimereux
            </p>
        </div>
    </section>

    <!-- text_section -->
    <section class="text_section">
        <p>EUROPALE</p>
        <h2>
            Engagement - Convivialité - Détermination <br />
            Dépassement de soi - Découverte
        </h2>
    </section>
    <br /><br />

    <!-- galery_section -->
    <section class="gallery_teams">
        <h2 class="section_title">Nos équipes Masculines</h2>
        <p class="text">Fait défilier et clique sur l'une des équipes pour la découvrir</p>

        <div class="carousel_container">
            <button class="carousel_btn prev" aria-label="Précédent">&#10094;</button>
            <div class="carousel_track">
                <figure class="team_card">
                    <a href="./teams/u9.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 1" /></a>
                    <figcaption>U9</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u11b.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 2" /></a>
                    <figcaption>U11B</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u11a.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 3" /></a>
                    <figcaption>U11A</figcaption>
                </figure>
                <!-- <figure class="team_card">
                    <a href="coming_soon.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 4" /></a>
                    <figcaption>U13B</figcaption>
                </figure> -->
                <figure class="team_card">
                    <a href="./teams/u13.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 5" /></a>
                    <figcaption>U13</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u15b.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 6" /></a>
                    <figcaption>U15B</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u15a.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 7" /></a>
                    <figcaption>U15A</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u18b.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 8" /></a>
                    <figcaption>U18B</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u18a.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 9" /></a>
                    <figcaption>U18A</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/u21a.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 10" /></a>
                    <figcaption>U21A</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/dm3-2.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 11" /></a>
                    <figcaption>DM3-2</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/dm3-1.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 12" /></a>
                    <figcaption>DM3-1</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/dm2.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 13" /></a>
                    <figcaption>DM2</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/dm1.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 14" /></a>
                    <figcaption>DM1</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/loisir.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 15" /></a>
                    <figcaption>LOISIR</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/basket_santee.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 16" /></a>
                    <figcaption>BASKET SANTÉE</figcaption>
                </figure>
                <figure class="team_card">
                    <a href="./teams/baby.html"><img src="../assets/img/cover_home.jpeg" alt="Équipe 17" /></a>
                    <figcaption>BABY</figcaption>
                </figure>
            </div>
            <button class="carousel_btn next" aria-label="Suivant">&#10095;</button>
        </div>
    </section>
    <section class="gallery_teams_girls">
  <h2 class="section_title">Nos équipes féminines</h2>
  <p class="text">Clique sur une équipe pour la découvrir</p>

  <div class="teams_grid">
    <figure class="team_card">
      <a href="./teams/u11f.html"><img src="../assets/img/cover_home.jpeg" alt="U11F" /></a>
      <figcaption>U11F</figcaption>
    </figure>
    <figure class="team_card">
      <a href="./teams/u13f.html"><img src="../assets/img/cover_home.jpeg" alt="U13F" /></a>
      <figcaption>U13F</figcaption>
    </figure>
    <figure class="team_card">
      <a href="./teams/u15f.html"><img src="../assets/img/cover_home.jpeg" alt="U15F" /></a>
      <figcaption>U15F</figcaption>
    </figure>
  </div>
</section>

    <br /><br /><br />

    <!-- social_follow -->
    <section class="social_follow">
        <div class="social_text">
            <h2>🔥 Venez suivre l'aventure de nos équipes sur nos réseaux sociaux 🔥</h2>
            <p>Retrouvez toutes les actus, photos et vidéos exclusives.</p>
        </div>

        <!-- Ici les 3 téléphones -->
        <div class="phone-container">
            <img src="../assets/img/cover_home.jpeg" alt="Téléphone gauche" class="phone phone-left" />
            <img src="../assets/img/cover_home.jpeg" alt="Téléphone centre" class="phone phone-center" />
            <img src="../assets/img/cover_home.jpeg" alt="Téléphone droite" class="phone phone-right" />
        </div>

        <div class="social_icons">
            <a href="https://www.facebook.com/europalebcww" target="_blank" aria-label="Facebook" class="social_btn facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.tiktok.com/@europalebasketclub" target="_blank" aria-label="TikTok" class="social_btn tiktok">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.instagram.com/europalebasket/" target="_blank" aria-label="Instagram" class="social_btn instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://youtube.com/" target="_blank" aria-label="YouTube" class="social_btn youtube">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>
    <section class="video_teams">
      <video autoplay muted loop playsinline class="team_video">
        <source src="../assets/img/video/Grotte.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas la vidéo.
      </video>
    </section>

    <!-- footeur -->
         <footer class="site-footer">
            <!-- Sponsors défilants -->
            <div class="sponsor-bar">      
              <div class="wrapper">
                <div class="item item8">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item7">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/LOGO-wimille.webp" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item6">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/logo-bshop-orange.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item5">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/basketball_emotion.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item4">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item3">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item2">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item1">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>    
              </div>
            </div>
             <!-- Carte des lieux d'entraînement -->
            <div class="footer-map">
              <h4 style="text-align: center; font-size: 28px; margin-bottom: 10px;">Où nous trouver ?</h4>
              <div class="map-container">
                <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.7364432056375!2d1.6115150768601988!3d50.767958271653205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc27349697d927%3A0x89b92b5e6a3e53d5!2s26%20Rue%20Hector%20Berlioz%2C%2062930%20Wimereux%2C%20France!5e0!3m2!1sfr!2sfr!4v1722503946387!5m2!1sfr!2sfr" 
                  width="100%" 
                  height="250" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
            </div>
            <!-- Contenu principal du footer -->
            <div class="footer-content">  
              <div class="footer-columns">
                <div class="footer-column">
                  <h4>Contact</h4>
                  <ul>
                    <li><span>Email :</span> ebcww@hotmail.fr</li>
                    <li><span>Tél :</span> 06 76 37 67 29</li>
                    <li><span>Adresse :</span> 26 Rue Hector Berlioz, 62930 Wimereux</li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Navigation</h4>
                  <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="coming_soon.html">Événements</a></li>
                    <li><a href="teams.html">Équipes</a></li>
                    <li><a href="coming_soon.html">Contact</a></li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Suivez-nous</h4>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/europalebcww" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@europalebasketclub" target="_blank"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/europalebasket/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Bas de page -->
            <div class="footer-bottom">
              <p>&copy; 2025 Europale Basket Club. Tous droits réservés.</p>
            </div>
          </footer>
<script>
                    document.addEventListener('DOMContentLoaded', () => {
          const sections = document.querySelectorAll('section');

          const observerOptions = {
            threshold: 0.2,
          };

          const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
              if(entry.isIntersecting) {
                entry.target.classList.add('section-visible');
                observer.unobserve(entry.target);
              }
            });
          }, observerOptions);

          sections.forEach(section => {
            section.classList.add('section-hidden');
            observer.observe(section);
          });
        });
          </script>
    <script src="../script.js"></script>
</body>
</html>
