.section-title h1 {
    font-size: 50px;
    text-align: center;
}
.section-title .line {
    width: 150px;
    height: 4px;
    border: 10px;
    background: #097eeb;
    margin: auto;
}
.services {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.service {
    width: 350px;
}
.service .line {
    width: 50px;
    height: 4px;
    border: 10px;
    background: #097eeb;
    margin: auto;
}
.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.service img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}